<link rel="stylesheet" href="css/projects.css.scss">
<link rel="stylesheet" href="css/pages.css.scss">
<section class="fav-project-section">
     <div class="container d-flex flex-column align-items-center justify-content-end min-vh-100">
    </div>
</section>

<div class="row">
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
    <img
      src="https://i.imgur.com/BOWKu5s.png"
      class="w-100 shadow-1-strong rounded mb-4"
    />

    <img
      src="https://i.imgur.com/xTqkXGk.png"
      class="w-100 shadow-1-strong rounded mb-4"
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="https://i.imgur.com/fy8g3j9.png"
      class="w-100 shadow-1-strong rounded mb-4"
    />

    <img
      src="https://imgur.com/2WcPUj8.png"
      class="w-100 shadow-1-strong rounded mb-4"
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="https://imgur.com/C9WtWcM.png"
      class="w-100 shadow-1-strong rounded mb-4"
    />

    <img
      src="https://imgur.com/C4IFHuh.png"
      class="w-100 shadow-1-strong rounded mb-4"
    />
  </div>
</div>

