<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rubén Giráldez - Portfolio</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/pages.css.scss">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
<section class="main-section">
    <div class="container d-flex flex-column align-items-center justify-content-end min-vh-100">
        <img src="https://i.imgur.com/t9DAwuu.png" alt="Your Photo" class="img-fluid rounded-circle" style="max-height: 400px;margin-top: 50px">
        <h1>Rubén Giráldez</h1>
        <p class="tagline">Always learning 🔬</p>
        <a href="#" id="view-my-work" class="btn btn-primary mt-auto">View my Work</a>
    </div>
</section>
</body>
</html>
